*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Verdana', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

main {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 100px auto;
  align-items: center;
}

section {
  width: 400px;
  border: 3px solid #ddd;
  border-radius: 20px;
}

h1 {
  font-size: 20px;
}

#list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ddd;
  height: 50px;
  padding: 0 10px;
  border-radius: 16px 16px 0 0;
}

#title-icon,
#add-icon {
  cursor: pointer;
}

#item-icon {
  cursor: all-scroll;
}

#input-area {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  padding: 0 10px;
}

::placeholder {
  font-style: italic;
}

input {
  outline: none;
  border: none;
}

.task-item {
  margin-left: 5px;
  font-size: 14px;
}

input:checked + .task-item {
  text-decoration: line-through;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  height: 50px;
  padding: 0 10px;
}

.item-info {
  display: flex;
  align-items: center;
}

.bottom {
  display: flex;
  height: 50px;
  background-color: #ddd;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 16px 16px;
}

#clear:hover {
  text-decoration: underline;
}

.alert {
  margin: 10px 0;
}
