@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&family=Permanent+Marker&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Courier Prime', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #f9f8eb;
  color: #cccbab;
}

a {
  text-decoration: none;
  color: #cccbab;
}

main {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 100px auto;
  align-items: center;
}

/* stylelint-disable */
section {
  width: 500px;
  padding: 10px;
  border: 5px solid #e8e9d2;
  border-radius: 20px;
  background: #f9f8eb;
  box-shadow: -16px 16px 32px #bab9af;
}
/* stylelint-enable */
h1 {
  font-size: 24px;
}

#list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 10px;
  border-radius: 10px 10px 0 0;
  border-bottom: 4px solid #cccbab;
}
form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#add-icon {
  border: none;
  background: none;
}

#title-icon,
#add-icon,
#item-icon {
  cursor: pointer;
  transition: 1s;
}

#add-icon:hover,
#item-icon:hover {
  transform: translateY(2px);
}

#input-area {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-bottom: 2px solid #cccbab;
}

::placeholder {
  font-style: italic;
  color: #54bab9;
  font-size: 16px;
}

input {
  width: 90%;
  color: #54bab9;
  outline: none;
  border: none;
  background: transparent;
  font-family: 'Permanent Marker', sans-serif;
}

#do-input {
  font-size: 16px;
}

input[type=checkbox] {
  accent-color: #54bab9;
  margin-right: 10px;
}

input:checked + .task-item {
  text-decoration: line-through;
}

input.check {
  width: 20px;
  height: 20px;
}

.task-item {
  color: #54bab9;
  font-size: 24px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 10px;
  border-bottom: 2px solid #cccbab;
}

.item-info {
  display: flex;
  align-items: center;
  width: 95%;
}

.bottom {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
}

#clear {
  font-size: 22px;
  font-weight: 700;
}

#clear:hover {
  text-decoration: underline;
}

.alert {
  color: #d11919;
  font-size: 22px;
  font-weight: 700;
  margin: 25px 0;
}
/* stylelint-disable */
.reset:hover {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}
/* stylelint-enable */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
